body {
    font-family: 'Anek Bangla', sans-serif;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: 600;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffff;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.car-card {
    display: block;
    text-align: center;


}

.card--size {
  width: 226.67px;
  width: 294.81px;
}

.cta {
    margin-bottom: 2rem;
}
